{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Mon Panier</h2>

    {% if panier %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
              {% for article_id, details in panier.items %}
                  <tr>
                      <td>{{ details.nom }}</td>  <!-- Affiche le nom de l'article -->
                      <td>{{ details.quantite }}</td>
                      <td>{{ details.prix_unitaire }} €</td>
                      <td>{{ details.quantite|floatformat:2|add:details.prix_unitaire|floatformat:2 }} €</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>

        <h4 class="text-right">
            Total à Payer : 
            <strong>{{ total|floatformat:2 }} €</strong>
        </h4>

        <div class="text-center mt-3">
            <a href="{% url 'valider_vente' %}" class="btn btn-success btn-lg">Valider la Vente</a>
        </div>
    {% else %}
        <p class="text-center">Votre panier est vide.</p>
    {% endif %}
</div>

<style>
    body {
        background-color: #f8f9fa;
    }
    table {
        background-color: #ffffff;
    }
    h2 {
        color: #007bff;
        font-weight: bold;
    }
    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }
    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
</style>

<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
{% endblock %}